body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  html {
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    min-height: 100%;
    position: relative;
    padding-bottom: 3rem;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .container {
    max-width: 50rem;
    min-width: 30rem;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  h1 {
    text-align: center;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    flex: 1;
    margin-right: 10px;
  }
  
  input[type="number"],
  input[type="text"] {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .iteration-info {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .iteration-info .label {
    font-weight: bold;
    margin-right: 20px;
    color: #007bff;
  }
  
  .graph-container {
    margin-top: 10px;
    padding: 3em;
    text-align: center;
  }
  
  canvas {
    border: 1px solid #ccc;
  }
  
  /* Colors for the bars in the graph */
  .gray {
    background-color: #ccc;
  }
  
  .orange {
    background-color: orange;
  }
  
  .blue {
    background-color: blue;
  }
  
  .green {
    background-color: green;
  }
  
  /* Styling for the labels showing left, right, and mid indices */
  .label {
    font-weight: bold;
    margin-top: 5px;
  }
  